/*******************
*    MODAL-STYLES   *
********************/

// TODO: review this file later, refactor styles

.modal-lg {
	max-width: 640px;
}

.modal .modal-scroll {
	max-height: 320px;
	overflow-y: auto;
	padding-right: 20px;
	@media screen and (max-width: $phoneBigWidth) {
		padding-right: 10px;
	}
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(24,24,22,0.11);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(24,24,22,0.4);
	}
}

.modal-strong-title {
	font-size: 18px;
	line-height: 24px;
	font-family: $FilsonProBold;
}

.modal-content {
	border-radius: 0;
	background: $mainBackgroundColor;
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}
.modal {
	&.notifications-modal,
	&.invite-friends-modal,
	&.reserve-meal-modal,
	&.contact-cook-modal,
	&.location-modal,
	&.confirm-modal,
	&.select-meal-modal,
	&.added-to-basket-modal,
	&.shipping-info-modal {
		.modal-header {
			border-bottom: none;

			.modal-popup-title-icon {
				svg {
					cursor: pointer;
					&:hover path {
						fill: $greenColor;
					}
				}
			}
		}
		.modal-body {
			display: flex;
			flex-direction: column;
			position: relative;
			outline: 0;
			pointer-events: auto;
			width: 100%;
			padding: 13px 40px 40px;

			@media screen and (max-width: $tableWidth) {
				padding-top: 0;
			}
			@media screen and (max-width: $phoneBigWidth) {
				padding-top: 0;
			}
		}
	}

	&.reserve-meal-modal,
	&.contact-cook-modal,
	&.location-modal,
	&.select-meal-modal,
	&.shipping-info-modal {
		.modal-body {
			.form-group {
				legend {
					font-weight: bold;
				}
			}
		}
	}
	&.notifications-modal,
	&.invite-friends-modal {
		.modal-body {
			padding: 13px 40px 40px;
			@media screen and (max-width: $tableWidth) {
				padding: 0 25px 25px;
			}
			@media screen and (max-width: $phoneBigWidth) {
				padding: 0 15px 20px;
			}
		}
	}
	&.location-modal, &.confirm-modal, &.select-meal-modal, &.added-to-basket-modal {
		.modal-footer {
			padding: 0 25px 25px;
			border-top: none;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.btn, button {
				max-width: calc(50% - 20px);
				width: 100%;

				&:first-of-type {
					margin-right: 10px;
				}
				&:last-of-type {
					margin-left: 10px;
				}
				@media screen and (max-width: $phoneBigWidth) {
					max-width: 100%;
					margin-left: 0 !important;
					margin-right: 0 !important;

					& + .btn, & + button {
						margin-top: 10px;
					}
				}
			}
		}
	}
	&.added-to-basket-modal {
		.modal-content {
			.shop-box {
				max-width: 160px;
				margin: 0 auto;
				box-shadow: 0 4px 16px rgba(69,53,38,0.15);

				.shop-box-img {
					padding: 0;
				}
			}
		}
	}
}
// TODO: check these styles later and move to .modal-body if needed
.modal-popup-body {
	display: flex;
	flex-direction: column;
	position: relative;
	outline: 0;
	pointer-events: auto;
	width: 100%;
	padding: 70px 40px 40px;
	@media screen and (max-width: $tableWidth) {
		padding: 40px 25px 25px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		padding: 40px 15px 20px;
	}
	.btnGreen, .btnGreenTransparent, .btnLightGreen, .btnLightRed, .btnNavyRedTransparent {
		display: block;
	}
	.modal-popup-header {
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
	}
	.modal-popup-description {
		font-size: 14px;
		color: #525f6e;
		line-height: 17px;
		letter-spacing: -0.12px;
		margin-bottom: 15px;
	}
	.modal-popup-title-icon {
		position: absolute;
		right: 16px;
		top: 13px;
		svg {
			cursor: pointer;
			&:hover path {
				fill: $greenColor;
			}
		}
	}
	.modal-popup-title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.modal-popup-buttons {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	.modal-popup-text p {
		font-size: 14px;
		color: #525f6e;
		line-height: 17px;
		letter-spacing: -.12px;
		margin: 0 0 15px;
	}
	.modal-popup-text p:last-child {
		margin: 0;
	}
}
