/*******************
*    MODAL-STYLES   *
********************/

// TODO: review this file later, refactor styles

.modal-lg {
	max-width: 640px;
}
.modal-content {
	border-radius: 0;
	background: $mainBackgroundColor;
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}
.modal {
	&.notifications-modal,
	&.invite-friends-modal,
	&.reserve-meal-modal,
	&.contact-cook-modal,
	&.location-modal,
	&.confirm-modal,
	&.select-meal-modal {
		.modal-header {
			border-bottom: none;

			.modal-popup-title-icon {
				svg {
					cursor: pointer;
					&:hover path {
						fill: $greenColor;
					}
				}
			}
		}
		.modal-body {
			display: flex;
			flex-direction: column;
			position: relative;
			outline: 0;
			pointer-events: auto;
			width: 100%;
			padding: 0 40px 40px;
		}
	}
	&.reserve-meal-modal,
	&.contact-cook-modal,
	&.location-modal,
	&.select-meal-modal {
		.modal-body {
			.form-group {
				legend {
					font-weight: bold;
				}
			}
		}
	}
	&.notifications-modal,
	&.invite-friends-modal {
		.modal-body {
			@media screen and (max-width: $tableWidth) {
				padding: 0 15px 15px;
			}
		}
	}
	&.location-modal, &.confirm-modal, &.select-meal-modal {
		.modal-footer {
			padding-top: 0;
			border-top: none;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.btn {
				min-width: 200px;

				&:first-of-type {
					margin-right: 10px;
				}
				&:last-of-type {
					border: 1px solid $greenColor;
					margin-left: 10px;
				}
				@media screen and (max-width: $phoneBigWidth) {
					min-width: calc(50% - 20px);
					width: calc(50% - 20px);
				}
			}
		}
	}
}
.modal-popup-body {
	display: flex;
	flex-direction: column;
	position: relative;
	outline: 0;
	pointer-events: auto;
	width: 100%;
	padding: 70px 40px 40px;
	@media screen and (max-width: $tableWidth) {
		padding: 40px 25px 25px;
	}
	.modal-popup-header {
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
	}
	.modal-popup-description {
		font-size: 14px;
		color: #525f6e;
		line-height: 17px;
		letter-spacing: -0.12px;
		margin-bottom: 15px;
	}
	.modal-popup-title-icon {
		position: absolute;
		right: 16px;
		top: 13px;
		svg {
			cursor: pointer;
			&:hover path {
				fill: $greenColor;
			}
		}
	}
	.modal-popup-body-overflow {
		overflow-x: auto;
	}
	.modal-popup-body-overflow.scroll350 {
		padding-right: 10px;
	}
	.modal-popup-body-overflow.scroll350 {
		@media only screen and (max-width: $tableWidth) and (orientation: landscape) {
			max-height: 230px;
		}
	}
	.modal-popup-title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.modal-popup-buttons {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	.modal-popup-text p {
		margin: 0 0 20px;
		font-size: 14px;
		color: #525f6e;
		line-height: 17px;
		letter-spacing: -.12px;
		margin-bottom: 15px;
	}
	.modal-popup-text p:last-child {
		margin: 0;
	}
}
.modal-popup-body-overflow::-webkit-scrollbar, .price-table-choose-email::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
}
.modal-popup-body-overflow::-webkit-scrollbar-track, .price-table-choose-email::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
.modal-popup-body-overflow::-webkit-scrollbar-thumb, .price-table-choose-email::-webkit-scrollbar-thumb {
	background: $greenNavyColor;
	border-radius: 10px;
}
.modal-popup-body-overflow::-webkit-scrollbar-thumb:hover, .price-table-choose-email::-webkit-scrollbar-thumb:hover {
	background: $greenNavyColor;
	border-radius: 10px;
}
:root {
	scrollbar-color: #f1f1f1 !important;
	border-radius: 10px;
}
.modal-small {
	max-width: 480px!important;
	.modal-popup-body {
		margin: 0 auto;
		.modal-popup-buttons {
			display: block;
			text-align: center;
			a {
				font-size: $mainFontSize;
			}
		}
	}
}
.modal-middle {
	max-width: 560px!important;
	.modal-popup-body {
    	margin: 0 auto;
		.modal-popup-buttons {
			display: flex;
			text-align: center;
			justify-content: space-between;
			align-items: center;
			input[type=button], input[type=reset], input[type=submit], button {
				width: auto;
			}
			a {
				font-size: $mainFontSize;
			}
		}
	}
}
