$FilsonProRegular        : 'FilsonProRegular', Helvetica, sans-serif;
$FilsonProBold           : 'FilsonProBold', Helvetica, sans-serif;
$LacaProSemiBold         : 'LacaProSemiBold', Helvetica, sans-serif;
$LHFAmericanSans         : 'LHFAmericanSans', Helvetica, sans-serif;

$mainBackgroundColor     : #FEF8E6;
$greenColor              : #009C90;
$greenNavyColor          : #184E59;
$greenNavyFooColor       : #17434C;
$greenLightColor         : #18B585;
$greenBrightColor        : #26A048;
$lightColor              : #FFFEFA;
$whiteColor              : #FFF;
$yellowColor             : #F5BE00;
$redColor                : #FF806D;
$grayColor               : #8A877D;
$orangeColor             : #F0BA0B;

$textBlackColor          : #181816;

$mainFontSize            : 16px;
$mainLineHeight          : 24px;
$normalFontWeight        : normal;
$boldFontWeight          : bold;

$h1FontSize              : 32px;
$h2FontSize              : 24px;

$h1LineHeight            : 48px;
$h2LineHeight            : 32px;

$desktopBigWidth         : 1380px;
$desktopWidth            : 1150px;
$tableWidth              : 991px;
$tableMinWidth           : 767px;
$smTableWidth            : 640px;
$phoneBigWidth           : 575px;
$phoneWidth              : 480px;
$mdphoneWidth            : 375px;
$smPhoneWidth            : 320px;
