@font-face {
  font-family: "FilsonProRegular";
  src: url("./assets/fonts/FilsonProRegular.ttf") format("truetype"),
  url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
  url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBold";
  src: url("./assets/fonts/FilsonProBold.ttf") format("truetype"),
  url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
  url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "LacaProSemiBold";
  src: url("./assets/fonts/LacaPro-SemiBold.ttf") format("truetype"),
  url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
  url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "LHFAmericanSans";
  src: url("./assets/fonts/LHFAmericanSans.ttf") format("truetype"),
  url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
  url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
