@import './fonts';
@import './variables';

html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	background-color: $mainBackgroundColor;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $FilsonProRegular;
	font-size: $mainFontSize;
	font-weight: $normalFontWeight;
	line-height: $mainLineHeight;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	background-color: $mainBackgroundColor;
	color: $textBlackColor;
}
*, *:before, *:after {
	box-sizing: border-box;
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
	border: none;
    border: 0px solid;
	box-shadow: none;
	font-family: $FilsonProBold;
	font-size: $mainFontSize;
	font-weight: $normalFontWeight;
	line-height: $mainLineHeight;
	-webkit-transition: .4s all ease;
		-o-transition: .4s all ease;
		transition: .4s all ease;
	cursor: pointer;
	color: $greenColor;
}
a:hover, a:focus, a:active {
	color: $greenLightColor;
	-webkit-transition: .4s all ease;
		-o-transition: .4s all ease;
		transition: .4s all ease;
	text-decoration: none;
}
a.active.focus, a.active:focus, a.focus, a:active.focus, a:active:focus, a:focus, button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: none!important;
	border: none;
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=middlemit]:not(:disabled), button:not(:disabled), input, textarea:focus, input:focus, input:active, *:focus {
    outline: none;
    border: 0px solid;
	box-shadow: none;
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus, .form-control:active, form-control:focus, textarea {
    box-shadow: none;
    outline: none;
	border: 0px solid;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=url]:focus, input[type=number]:focus {
	border: 1px solid $greenColor!important;
	-webkit-transition: .3s all ease!important;
		-o-transition: .3s all ease!important;
		transition: .3s all ease!important;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
  text-shadow: none;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: none;
}
.panel-group ::-moz-selection {
    background: transparent;
}
.panel-group ::selection {
    background: transparent;
}
textarea {
	resize: none;
	line-height: 21px;
}
textarea::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
}
textarea::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
	background: $greenColor;
	border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb:hover {
	background: $greenColor;
	border-radius: 10px;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
section {
	position: relative;
}
strong {
	color: green;
}
.container {
	max-width: $desktopWidth;
	width: 100%;
}
p {
	margin-bottom: 22px;
}
p:last-child {
	margin-bottom: 0px;
}
.img {
	max-width: 100%;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
figure {
	margin: 0;
	padding: 0;
}
svg {
	line-height: 1;
}
svg path {
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
svg:hover path {
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
button[disabled]:active, button[disabled],
button.btn[disabled]:active, button.btn[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled],
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover
{
	opacity: 0.7;
	color: $mainBackgroundColor;
	border: none;
	outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
	box-shadow: none!important;
	background-color: $greenColor;
}
.video-box {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video-box.video-shadow {
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
}
.video-box iframe,
.video-box object,
.video-box embed,
.video-box .video-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-box-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.video-icon {
		position: absolute;
		a {
			background: $greenColor;
			color: $mainBackgroundColor;
			width: 60px;
			height: 60px;
			display: inline-block;
			text-align: center;
			line-height: 60px;
			border-radius: 50%;
			i {
				font-size: 20px;
				line-height: 1;
				position: relative;
				right: -2px;
				top: 2px;
			}
		}
		a.btn-icon {
			position: relative;
		}
		a.btn-icon::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: -2px;
			left: -2px;
			bottom: -2px;
			right: -2px;
			border-radius: inherit;
			border: 1px solid $greenColor;
			-webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
			animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
		}
		a.btn-icon:hover {
			background: $greenLightColor;
		}
	}
	.video-icon a::after {
		position: absolute;
		border: 70px solid rgba(0, 156, 144, 0.1);
		content: "";
		border-radius: 50%;
		left: -39px;
		top: -38px;
		right: 0;
		z-index: 0;
		background: #0000;
		width: 100%;
		@media screen and (max-width: $phoneBigWidth) {
			border: 50px solid rgba(0, 156, 144, 0.1);
			left: -19px;
			top: -19px;
			right: 0;
		}
	}
}

@-webkit-keyframes btnIconRipple {
    0% {
        border-width: 4px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        border-width: 1px;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    80% {
        border-width: 1px;
        -webkit-transform: scale(1.9);
        transform: scale(1.9);
    }
    100% {
        opacity: 0;
    }
}

/********************
*   MARGIN/PADDING  *
********************/

.pads-50 {
	padding: 50px 0;
}
.pads-70 {
	padding: 70px 0;
}

/********************
*   TITLE STYLES    *
********************/

.title-size1 {
	font-size: 56px;
	line-height: 56px;
	font-family: $LHFAmericanSans;
	@media screen and (max-width: $tableWidth) {
		font-size: 40px;
		line-height: 40px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 30px;
		line-height: 30px;
	}
}
.title-size2 {
	letter-spacing: 1px;
	font-size: 40px;
	line-height: 40px;
	font-family: $LHFAmericanSans;
	@media screen and (max-width: $tableWidth) {
		font-size: 30px;
		line-height: 30px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 25px;
		line-height: 25px;
	}
}
.title-size3 {
	letter-spacing: 1px;
	font-size: 24px;
	line-height: 24px;
	font-family: $LHFAmericanSans;
	@media screen and (max-width: $tableWidth) {
		font-size: 22px;
		line-height: 22px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 20px;
		line-height: 20px;
	}
}

/********************
* BACKGROUND STYLES *
********************/

.green-bg {
	background-color: $greenColor;
}
.light-bg {
	background-color: $lightColor;
}
.lightGreen-bg {
	background-color: $greenLightColor;
}

/********************
*  TITLE COLOR STYLES *
********************/

.titleLightColor {
	color: $mainBackgroundColor;
}
.titleGreenNavyColor {
	color: $greenNavyColor;
}

/********************
*   BUTTONS STYLE   *
********************/

.btn {
	text-decoration: none;
	display: inline-block;
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
	transition: .3s all ease;
	border-radius: 0;
	letter-spacing: 1.15px;
}
.btn:hover, .btn:focus, .btn:active {
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
}
.btn-green {
	background-color: $greenColor;
	border: 1px solid $greenColor;
	letter-spacing: 1.15px;
	font-size: 22px;
	line-height: 26px;
	color: $mainBackgroundColor;
	padding: 20px;
	min-width: 50%;
	font-family: $LacaProSemiBold;
	text-transform: uppercase;
	@media screen and (max-width: $phoneBigWidth) {
		width: 100%;
		font-size: 18px;
		line-height: 22px;
		color: $mainBackgroundColor;
		padding: 15px;
	}
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
	background-color: $greenLightColor;
	border: 1px solid $greenLightColor;
	letter-spacing: 1.15px;
	font-size: 22px;
	line-height: 26px;
	padding: 20px;
	color: $mainBackgroundColor;
	font-family: $LacaProSemiBold;
}
.btn-red {
	display: inline-block;
	background-color: $redColor;
	border: 1px solid $redColor;
	letter-spacing: 0.6px!important;
	font-size: 18px!important;
	line-height: 18px!important;
	color: $mainBackgroundColor;
	padding: 15px 30px 12px;
	font-family: $FilsonProBold;
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	outline: none;
}
.btn-red:hover, .btn-red:focus, .btn-red:active {
	background-color: $yellowColor;
	border: 1px solid $yellowColor;
	padding: 15px 30px 12px;
	letter-spacing: 0.6px!important;
	font-size: 18px!important;
	line-height: 18px!important;
	color: $mainBackgroundColor!important;
	font-family: $FilsonProBold;
	outline: none;
}

/********************
*     H1-H6 STYLE   *
********************/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

/*******************
*    FORMS-STYLES  *
********************/

.form-group {
	margin-bottom: 32.5px;
	@media screen and (max-width: $phoneBigWidth) {
		margin-bottom: 20px;
	}
}
.form-group label {
	font-size: $mainFontSize;
	letter-spacing: -0.05px;
	margin-bottom: 8px;
	display: block;
}
.form-group label a {
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	text-decoration: underline;
}
.form input[type=text], .form input[type=email], .form input[type=password], .form input[type=url], .form input[type=number] {
  	width: 100%;
	display: block;
	height: 65px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	padding-top: 10px;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	border: 1px solid rgba(161,112,103,0.3);
	border-radius: 0;
	color: $textBlackColor;
	font-size: 18px;
	letter-spacing: 0.5px;
	@media screen and (max-width: $phoneBigWidth) {
		height: 50px;
		font-size: 16px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.form textarea {
  	width: 100%;
	display: block;
	padding: 27.5px 27.5px;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	border: 1px solid rgba(161,112,103,0.3);
	border-radius: 0;
	font-size: 18px;
	-webkit-transition: .3s all ease!important;
		-o-transition: .3s all ease!important;
		transition: .3s all ease!important;
	@media screen and (max-width: $phoneBigWidth) {
		height: 50px;
		font-size: 16px;
		padding: 20px;
	}
}
.form textarea:focus, .form textarea:active {
	border: 1px solid $greenColor!important;
	-webkit-transition: .3s all ease!important;
		-o-transition: .3s all ease!important;
		transition: .3s all ease!important;
}
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder {
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.6px;
	color: #8A877D;
	padding-top: 2px;
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 16px;
	}
}
.form input[type=button], .form input[type=submit], .form input[type=reset] {
}

/*******************
*   ALERTS  *
********************/
.alert {
	border-radius: 0;
	border-color: transparent;
}

/*******************
*   ERROR-MESSAGES  *
********************/

.errors {
	border-radius: 4px;
	padding: 9px 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 32.5px;
	.error-block-close svg:hover path {
		fill: $greenColor;
	}
	.error-block-close {
		margin-left: 10px;
	}
	.error-block {
		display: flex;
		a:hover, a:focus, a:active {
			font-size: 16px;
			line-height: 22px;
		}
		.error-block-text {
			color: $textBlackColor;
			font-size: 16px;
			margin-left: 10px;
			margin-top: 2px;
			line-height: 22px;
			ul.error-block-ul {
				text-align: left;
				li {
					font-size: 16px;
					line-height: 22px;
					a {
						font-size: 16px;
						line-height: 22px;
					}
				}
			}
		}
	}
	svg {
		vertical-align: middle;
	}
}
.error-warning {
	background-color: #FFE9E9;
}
.error-success {
	background-color: #F7FFE9;
}
.error-mistake {
	background-color: #FFF8E9;
}
.error-info {
	background-color: #E9F8FF;
}

/********************
*   HEADER-BLOCK    *
********************/

.header {
	position: fixed;
	width: 100%;
	padding: 48px 0 0;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	@media screen and (max-width: $tableWidth) {
		padding: 15px 0 0;
	}
	.header-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo-block {
			display: flex;
			align-items: center;
		}
	}
}
.header.header-scrolled {
	background: $greenNavyColor;
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	top: 0;
	padding: 20px 0;
}
#authorization-page .header {
	position: absolute;
	@media screen and (max-width: $tableWidth) {
		padding: 15px 0 0;
	}
}

/********************
*      NAV-MENU     *
********************/

#nav-menu-container {
	margin: 0;
}
@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}
.nav-menu {
    margin: 0;
    padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	li {
		margin-right: 32px;
		a {
			text-decoration: none;
			color: $mainBackgroundColor;
			font-family: $FilsonProBold;
			font-size: $mainFontSize;
			line-height: $mainLineHeight;
			line-height: $normalFontWeight;
		}
		a:hover, a:focus, a:active {
			color: $yellowColor;
			line-height: $normalFontWeight;
		}
	}
	li.active a {
		color: $yellowColor;
		line-height: $normalFontWeight;
	}
	li:last-child {
		margin-right: 0px;
	}
}

/********************
*   AUTORIZ-BLOCK   *
********************/

.authorization {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	height: 100%;
		@media screen and (max-width: $tableWidth) {
			flex-direction: column;
			justify-content: center;
		}
	.authorization-box {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		@media screen and (max-width: $tableWidth) {
			width: 100%;
		}
		.authorization-box-position {
			padding: 150px 80px;
			width: 100%;
			max-width: 640px;
			.title-size3 {
				margin-bottom: 32.5px;
				@media screen and (max-width: $phoneBigWidth) {
					margin-bottom: 20px;
				}
			}
			@media screen and (max-width: $tableWidth) {
				max-width: 100%;
				padding: 100px 15px 40px;
			}
		}
		.authorization-box-info {
			margin-top: 50px;
			@media screen and (max-width: $phoneBigWidth) {
				margin-top: 40px;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	.authorization-background {
		// don't combine next two properties into one, otherwise background-color won't work!
		background-image: url('./assets/images/authorization/authorization.svg');
		background-position: left top;
		width: 50%;
		@media screen and (max-width: $tableWidth) {
			display: none;
		}
	}
}

/********************
*     HOMEPAGE     *
********************/

.hero {
	padding: 90px 0 0;
	@media screen and (max-width: $tableMinWidth) {
		padding: 120px 0 0;
	}
	.hero-img {
		text-align: center;
		@media screen and (max-width: $tableMinWidth) {
			max-width: 250px;
			margin: 0 auto;
		}
	}
	.hero-shape {
		overflow: hidden;
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 0;
		direction: ltr;
		bottom: -1px;
	}
	.hero-shape svg {
		height: 160px;
		display: block;
		width: calc(100% + 1.3px);
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.hero-shape-fill {
		fill: $mainBackgroundColor;
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
}
.description {
	font-size: 24px;
	line-height: 28.5px;
	@media screen and (max-width: $tableWidth) {
		font-size: 22px;
		line-height: 26px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 20px;
		line-height: 23px;
	}
}

/********************
*   FOOTER STYLES   *
********************/

.footer {
	background-color: $greenNavyFooColor;
	padding: 63px 0 50px;
	@media screen and (max-width: $phoneBigWidth) {
		padding: 45px 0;
	}
	.footer-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.footer-box-part1 {
			display: flex;
			align-items: center;
			@media screen and (max-width: $tableWidth) {
				flex-direction: column;
			}
			.logo-block {
				margin-right: 58px;
				@media screen and (max-width: $tableWidth) {
					margin-right: 0px;
					margin-bottom: 30px;
				}
			}
			ul.footer-nav-menu {
				margin: 0;
				padding: 0;
				list-style: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				@media screen and (max-width: $mdphoneWidth) {
					flex-direction: column;
				}
				li {
					margin-right: 31px;
					@media screen and (max-width: $phoneWidth) {
						margin-right: 25px;
					}
					@media screen and (max-width: $mdphoneWidth) {
						margin-right: 0;
						margin-top: 5px;
						margin-bottom: 5px;
					}
					a {
						color: $greenColor;
						font-family: $FilsonProBold;
					}
					a:focus, a:hover, a:active {
						color: $yellowColor;
					}
				}
				li:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.footer-login {
		text-align: center;
		.footer-login-text {
			margin-top: 30px;
			margin-bottom: 18px;
		}
		.footer-login-btn {
			.btn {
				display: block;
			}
		}
		.footer-login-link {
			svg {
				margin-right: 9px;
				margin-top: -6px;
			}
			a {
				font-size: 18px;
				font-family: $LacaProSemiBold;
			}
		}
		.footer-login-link a {
			svg #path3 {
				fill: $greenColor;
				-webkit-transition: .3s all ease;
					-o-transition: .3s all ease;
					transition: .3s all ease;
			}
		}
		.footer-login-link a:hover {
			svg #path3 {
				fill: $greenLightColor;
				-webkit-transition: .3s all ease;
					-o-transition: .3s all ease;
					transition: .3s all ease;
			}
		}
	}
	.copyright {
		opacity: 0.5;
		color: $whiteColor;
		@media screen and (max-width: $tableWidth) {
			text-align: center;
			margin-top: 30px;
		}
	}
}

/********************
*   WIZARD STYLES   *
********************/
.vue-form-wizard {
	// temp
	min-width: 500px;
	.wizard-navigation {
		margin-bottom: 20px;

		.wizard-nav, .wizard-progress-with-circle {
			display: none;
		}
	}
	.wizard-card-footer {
		min-height: 96px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.clearfix:after {
			content: none;
		}

		.wizard-btn {
			width: 96px;
			height: 96px;
			border-radius: 96px;
			padding: 0;
			display: flex;
			min-width: 96px;
			justify-content: center;
			align-items: center;
			border: none;

			.wizard-btn-text {
				font-family: $LacaProSemiBold;
			}
			.wizard-btn-icon {
				font-size: 16px !important;
			}

			&.wizard-btn-next {
				background-color: $greenColor;
				flex-direction: column;

				.wizard-btn-text, .wizard-btn-icon {
					color: $mainBackgroundColor;
				}
				.wizard-btn-text {
					font-size: 24px;
					letter-spacing: 0.8px;
					line-height: 28px;
					margin-bottom: 2px;
				}
			}
			&.wizard-btn-prev {
				background-color: transparent !important;

				.wizard-btn-text, .wizard-btn-icon {
					color: $greenColor;
				}
				.wizard-btn-text {
					padding-left: 9px;
					font-size: 18px;
					letter-spacing: 0.6px;
					line-height: 24px;
				}
			}
		}

		.wizard-footer-step-info {
			color: #8A877D;
			font-family: $FilsonProBold;
			font-size: 18px;
			letter-spacing: 0.6px;
			line-height: 18px;
		}
	}
}

/********************
*   DROPZONE STYLES   *
********************/
.vue-dropzone {
	position: relative;
	border: 3px dashed #8A877D !important;
	height: 303px !important;
}
.dropzone {
	background: transparent !important;

	.dz-message {
		color: #8A877D !important;
	}
}

/********************
*   GOOGLE PLACES STYLES   *
********************/
.pac-container {
	z-index: 10000 !important;
}
