* {
	box-sizing: border-box;
}
html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	background-color: $mainBackgroundColor;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $FilsonProRegular;
	font-size: $mainFontSize;
	font-weight: $normalFontWeight;
	line-height: $mainLineHeight;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	background-color: $mainBackgroundColor;
	color: $textBlackColor;
	&.mobile-menu-box-active {
		overflow: hidden;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			z-index: 3;
			top: 0;
			left: 0;
			position: fixed;
			background: rgba(0, 0, 0, 0.7);
		}
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 14px;
		margin-bottom: 20px;
	}
}
.cursor-pointer {
	cursor: pointer;
}
*, *:before, *:after {
	box-sizing: border-box;
}
a, a:not([href]):not([class]), a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
	border: none;
	box-shadow: none;
	font-family: $FilsonProBold;
	font-size: $mainFontSize;
	font-weight: $normalFontWeight;
	line-height: $mainLineHeight;
	color: $greenColor;
	-webkit-transition: .4s all ease;
		-o-transition: .4s all ease;
		transition: .4s all ease;
	cursor: pointer;
}
a:hover, a:focus, a:active {
	color: $greenLightColor;
	text-decoration: none;
}
a.active.focus, a.active:focus, a.focus, a:active.focus, a:active:focus, a:focus, button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus {
    outline: none!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: none!important;
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=middlemit]:not(:disabled), button:not(:disabled), input, textarea:focus, input:focus, input:active, *:focus {
    outline: none!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: none!important;
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus,
input[type=number]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus,
[type=text].form-control:focus, [type=password].form-control:focus, select:focus,
[type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus,
.form-control:active, form-control:focus, textarea:focus {
    box-shadow: none;
    outline: none;
	border: 0px solid;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=url]:focus,
input[type=search]:focus, input[type=number]:focus, select:focus {
	-webkit-transition: .3s all ease!important;
		-o-transition: .3s all ease!important;
		transition: .3s all ease!important;
}
.form-group {
	position: relative;
}
.form-control {
	&::-ms-expand {
		background-color: transparent;
		border: 0;
		text-shadow: none;
	}
	&:-moz-focusring {
		color: transparent;
		text-shadow: none;
	}
}
.panel-group {
	&::-moz-selection {
		background: transparent;
	}
	&::selection {
		background: transparent;
	}
}
textarea {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(24,24,22,0.11);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(24,24,22,0.4);
	}
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
section {
	position: relative;
}
strong {
	color: green;
}
.container {
	max-width: $desktopWidth;
	width: 100%;
}
p {
	margin-bottom: 25px;
	line-height: 24px;
	font-size: 16px;
	&:last-child {
		margin-bottom: 0;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 14px;
		margin-bottom: 20px;
	}
}
.img {
	max-width: 100%;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
figure {
	margin: 0;
	padding: 0;
}
svg {
	line-height: 1;
}
svg path, a svg path {
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
svg:hover path, a svg:hover path {
	-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease;
}
button[disabled]:active, button[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled],
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover
{
	opacity: 0.7;
	color: $mainBackgroundColor;
	border: none;
	outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
	box-shadow: none!important;
	background-color: $greenColor!important;
	&::before, &::after {
		content: none;
	}
	span:hover {
		background-color: transparent;
	}
}
.owl-stage-outer {
	padding-bottom: 20px;
	a.item {
		display: block;
	}
}
// .hero-wave styles moved to HeroWave component
.text-underline {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
/********************
*   MARGIN/PADDING  *
********************/

.padl-25 {
	padding-left: 25px;
	@media screen and (max-width: $desktopWidth) {
		padding-left: 2.5px;
	}
	@media screen and (max-width: $tableWidth) {
		padding-left: 0;
	}
}
.padr-25 {
	padding-right: 25px;
	@media screen and (max-width: $desktopWidth) {
		padding-right: 2.5px;
	}
	@media screen and (max-width: $tableWidth) {
		padding-right: 0;
	}
}
.pad-40 {
	padding: 40px 0;
}
.pad-50 {
	padding: 50px 0;
}
.pad-70 {
	padding: 70px 0;
	@media screen and (max-width: $phoneBigWidth) {
		padding: 50px 0;
	}
}
.pad-70t {
	padding-top: 70px;
	@media screen and (max-width: $phoneBigWidth) {
		padding-top: 50px;
	}
}
.pad-70b {
	padding-bottom: 70px;
	@media screen and (max-width: $phoneBigWidth) {
		padding-bottom: 50px;
	}
}

/********************
* BACKGROUND STYLES *
********************/

.green-bg {
	background-color: $greenColor;
}
.light-bg {
	background-color: $lightColor;
}
.lightGreen-bg {
	background-color: $greenLightColor;
}

/********************
*  TITLE COLOR STYLES *
********************/

.titleLightColor {
	color: $mainBackgroundColor!important;
}
.titleGreenLightColor {
	color: $greenColor!important;
}
.titleGreenNavyColor {
	color: $greenNavyColor!important;
}
.titleDarkColor {
	color: $textBlackColor!important;
}

/********************
*   BUTTONS STYLE   *
********************/

.btnGreen {
	background-color: $greenColor;
	span {
		color: $mainBackgroundColor;
		border: 2px solid $greenColor;
		@media screen and (min-width: $tableWidth) {
			&:hover {
				color: $mainBackgroundColor;
				border: 2px solid $greenLightColor;
			}
		}
		&:hover, &:focus, &:active {
			@media screen and (max-width: $tableWidth) {
				background-color: $greenLightColor;
				color: $mainBackgroundColor;
				border: 2px solid $greenLightColor;
			}
		}
	}
	@media screen and (min-width: $tableWidth) {
		&::before {
			background-color: $greenLightColor;
			transition: 0.3s ease-out;
		}
	}
}
.btnLightGreen {
	background-color: $greenBrightColor;
	span {
		color: $mainBackgroundColor;
		border: 2px solid $greenBrightColor;
		@media screen and (min-width: $tableWidth) {
			&:hover {
				color: $mainBackgroundColor;
				transition: 0.2s 0.1s;
				border: 2px solid $greenLightColor;
			}
		}
		@media screen and (max-width: $tableWidth) {
			&:hover, &:focus, &:active {
				background-color: $greenLightColor;
				color: $mainBackgroundColor;
			}
		}
	}
	@media screen and (min-width: $tableWidth) {
		&::before {
			background-color: $greenLightColor;
			transition: 0.3s ease-out;
		}
	}
}
.btnGreenTransparent {
	background: transparent;
	span {
		color: $greenColor;
		border: 2px solid $greenColor;
		@media screen and (min-width: $tableWidth) {
			&:hover {
				color: $mainBackgroundColor;
				transition: 0.2s 0.1s;
				background-color: $greenLightColor;
				border: 2px solid $greenLightColor;
			}
		}
		@media screen and (max-width: $tableWidth) {
			&:hover, &:focus, &:active {
				background-color: $greenLightColor;
				border: 2px solid $greenLightColor;
				color: $mainBackgroundColor;
			}
		}
	}
	@media screen and (min-width: $tableWidth) {
		&::before {
			background-color: $greenLightColor;
			transition: 0.3s ease-out;
		}
	}
}
.btnLightRed {
	background-color: $redColor;
	span {
		color: $mainBackgroundColor;
		border: 2px solid $redColor;
		@media screen and (min-width: $tableWidth) {
			&:hover {
				color: $mainBackgroundColor;
				border: 2px solid $yellowColor;
			}
		}
		@media screen and (max-width: $tableWidth) {
			&:hover, &:focus, &:active {
				background-color: $yellowColor;
				color: $mainBackgroundColor;
			}
		}
	}
	@media screen and (min-width: $tableWidth) {
		&::before {
			background-color: $yellowColor;
			transition: 0.3s ease-out;
		}
	}
}
.btnNavyRedTransparent {
	background: transparent;
	span {
		color: $redNavyColor;
		border: 2px solid $redNavyColor;
		@media screen and (min-width: $tableWidth) {
			&:hover {
				color: $mainBackgroundColor;
				transition: 0.2s 0.1s;
				background-color: $redNavyColor;
				border: 2px solid $redNavyColor;
			}
		}
		@media screen and (max-width: $tableWidth) {
			&:hover, &:focus, &:active {
				background-color: $redNavyColor;
				border: 2px solid $redNavyColor;
				color: $mainBackgroundColor;
			}
		}
	}
	@media screen and (min-width: $tableWidth) {
		&::before {
			background-color: $redNavyColor;
			transition: 0.3s ease-out;
		}
	}
}
.btnGreen, .btnLightGreen, .btnGreenTransparent, .btnLightRed, .btnNavyRedTransparent {
	text-decoration: none!important;
	display: inline-block;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	border-radius: 0;
	border: none;
	position: relative;
	padding: 0;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	outline: none;
	&:hover, &:after, &:focus {
		outline: none;
	}
	span {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		transition: 0.3s;
		text-decoration: none!important;
		.svg-icon-wrapper {
			display: flex;
		}
		svg {
			margin-right: 12px;
		}
		@media screen and (min-width: $tableWidth) {
			&:hover {
				transition: 0.2s 0.1s;
				text-decoration: none;
			}
		}
	}
	&::before, &::after {
		position: absolute;
		content: "";
	}
	&.hover-slide-left::before {
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 0%;
	}
	&.hover-slide-left:hover::before {
		width: 100%;
	}
	&.btnHugeSize span {
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 1.2px;
		padding: 24px;
		font-family: $LacaProSemiBold;
		@media screen and (max-width: $tableMinWidth) {
			font-size: 24px;
			line-height: 28px;
			letter-spacing: 0.8px;
			padding: 20px;
		}
		&:hover, &:focus, &:active {
			@media screen and (max-width: $tableMinWidth) {
				font-size: 24px;
				line-height: 28px;
				letter-spacing: 0.8px;
			}
		}
	}
	&.btnBigSize span {
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 1.15px;
		padding: 18px 10px 16px;
		font-family: $LacaProSemiBold;
		@media screen and (max-width: $tableMinWidth) {
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.94px;
			padding: 12px 10px 10px;
		}
		&:hover, &:focus, &:active {
			@media screen and (max-width: $tableMinWidth) {
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.94px;
				padding: 12px 10px 10px;
			}
		}
	}
	&.btnNormalSize span {
		font-size: 18px;
		line-height: 18px;
		letter-spacing: 0.6px;
		padding: 24px 10px 18px;
		font-family: $FilsonProBold;
		@media screen and (max-width: $tableMinWidth) {
			font-size: 16px;
			line-height: 16px;
			padding: 16px 10px 12px;
		}
		&:hover, &:focus, &:active {
			@media screen and (max-width: $tableMinWidth) {
				font-size: 16px;
				line-height: 16px;
				padding: 16px 10px 12px;
			}
		}
	}
	&.btnSmallSize span {
		font-size: 16px;
		line-height: 17px;
		letter-spacing: 0.53px;
		font-family: $FilsonProBold;
		padding: 11px 10px 8px;
		&:hover, &:focus, &:active {
			font-size: 16px;
			line-height: 17px;
			letter-spacing: 0.53px;
		}
	}
	&.btn50 {
		display: block;
		width: 50%;
		@media screen and (max-width: $phoneBigWidth) {
			width: 100%;
		}
	}
	&.btn100 {
		display: block;
		width: 100%;
	}
}
.btnDisabled {
	cursor: none;
	pointer-events: none;
	text-decoration: none;
	span {
		color: $textBlackColor;
		background-color: $yellowColor;
		border: 2px solid $yellowColor;
	}
}

/********************
*     H1-H6 STYLE   *
********************/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

/*******************
*    FORMS-STYLES  *
********************/

.form {
	.form-group {
		margin-bottom: 32.5px;
		position: relative;
		@media screen and (max-width: $tableMinWidth) {
			margin-bottom: 20px;
		}
		// .custom-control-label - is a label for checkbox input
		label:not(.custom-control-label) {
			font-size: 18px;
			line-height: 18px;
			letter-spacing: 0.6px;
			margin-bottom: 16px;
			display: block;
			font-family: $FilsonProBold;
			@media screen and (max-width: $tableMinWidth) {
				font-size: 16px;
				line-height: 17px;
				letter-spacing: 0.53px;
				margin-bottom: 14px;
			}
		}
		a {
			font-size: $mainFontSize;
			line-height: $mainLineHeight;
			text-decoration: underline;
			color: $greenColor;
			&:hover, &:active, &:focus {
				text-decoration: none;
				color: $greenColor;
			}
		}
		input[type=text], input[type=email], input[type=password], input[type=url],
		input[type=tel], input[type=number], select {
			width: 100%;
			display: block;
			height: 65px;
			padding-left: 27.5px;
			padding-right: 27.5px;
			padding-top: 6px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid rgba(161,112,103,0.3);
			border-radius: 0;
			color: $textBlackColor;
			font-size: 18px;
			letter-spacing: 0.5px;
			@media screen and (max-width: $tableMinWidth) {
				height: 48px;
				font-size: 16px;
				padding-left: 20px;
				padding-right: 20px;
			}
			&:focus {
				border: 1px solid $greenColor!important;
				-webkit-transition: .3s all ease!important;
				-o-transition: .3s all ease!important;
				transition: .3s all ease!important;
			}
		}
		input[type=search] {
			font-size: 16px;
			line-height: 16px;
			letter-spacing: 0;
			color: $mainBackgroundColor;
			background: rgba(216, 216, 216, 0.13);
			border: 1px solid $greenNavyColor;
			padding-top: 8px;
			width: 100%;
			display: block;
			height: 34px;
			border-radius: 16.5px;
			padding-right: 30px;
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
				height: 18px;
				width: 18px;
				border-radius: 50em;
				// path is fine
				background: url('./assets/images/elements/dashboard/search_close.svg') no-repeat 50% 50%;
				background-size: contain;
				opacity: 0;
				pointer-events: none;
				cursor: pointer;
				margin-right: 3px;
			}
			&:focus::-webkit-search-cancel-button {
				opacity: .3;
				pointer-events: all;
			}
			&::-webkit-input-placeholder {
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0;
				color: $mainBackgroundColor;
				padding-top: 0px;
			}
		}
		textarea {
			width: 100%;
			display: block;
			padding: 27.5px 27.5px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid rgba(161,112,103,0.3);
			border-radius: 0;
			font-size: 18px;
			-webkit-transition: .3s all ease!important;
			-o-transition: .3s all ease!important;
			transition: .3s all ease!important;
			@media screen and (max-width: $tableMinWidth) {
				padding: 20px;
			}
			&:focus, &:active {
				border: 1px solid $greenColor!important;
				-webkit-transition: .3s all ease!important;
				-o-transition: .3s all ease!important;
				transition: .3s all ease!important;
			}
		}
		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
		input[type=text]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder,
		select::-webkit-input-placeholder {
			font-size: 18px;
			line-height: 18px;
			letter-spacing: 0.6px;
			color: $grayColor;
			padding-top: 2px;
			@media screen and (max-width: $phoneBigWidth) {
				font-size: 16px;
			}
		}
	}
}


.form input[type=button], .form input[type=submit], .form input[type=reset] {
}

/*******************
* HEADER-FORM-STYLES *
********************/

.header_search_container_mobile {
	.form {
		svg {
			position: absolute;
			top: 25px;
			left: 10px;
		}
		input[type=search] {
			font-size: 16px;
			line-height: 16px;
			letter-spacing: 0;
			color: $grayColor;
			background: $whiteColor;
			border: none;
			box-shadow: 0 4px 16px rgba(69,53,38,0.15)!important;
			padding-top: 8px;
			width: 100%;
			display: block;
			height: 66px;
			border-radius: 0;
			padding-right: 10px;
			padding-left: 40px;
			&:focus {
				border: none!important;
			}
		}
	}
	input[type=search]::-webkit-input-placeholder {
		font-size: 16px;
		line-height: 17px;
		letter-spacing: 0.53px;
		color: $grayColor;
		padding-top: 0px;
	}
	input[type=search]::-webkit-search-cancel-button {
		-webkit-appearance: none;
		height: 18px;
		width: 18px;
		border-radius: 50em;
		// path is fine
		background: url('./assets/images/elements/dashboard/search_close.svg') no-repeat 50% 50%;
		background-size: contain;
		opacity: 0;
		pointer-events: none;
		cursor: pointer;
		margin-right: 3px;
	}
	input[type=search]:focus::-webkit-search-cancel-button {
		opacity: .3;
		pointer-events: all;
	}
}

/*******************
* BIGSEARCH-FORM-STYLES *
********************/

/********************
*   HEADER-BLOCK    *
********************/

.header {
	position: fixed;
	width: 100%;
	padding: 48px 0 0;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	@media screen and (max-width: $tableWidth) {
		padding: 15px 0 15px;
	}
	.header-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo-block {
			display: flex;
			align-items: center;
			@media screen and (max-width: $tableWidth) {
				img {
					max-width: 77px;
				}
			}
		}
		.header-links {
			display: flex;
			flex-direction: row;
			.header-link-search, .header-link-notify {
				margin-right: 25px;
			}
			.header-link-search-btn {
				cursor: pointer;
				display: flex;
				flex-direction: row;
			}

		}
	}
	&.header-scrolled {
		background: $greenNavyFooColor;
		-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		top: 0;
		padding: 20px 0;
		@media screen and (max-width: $tableWidth) {
			padding: 15px 0 15px;
		}
	}
}
body.mobile-menu-box-active .header {
	background: $greenNavyColor;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/********************
* STYLE-MOBILE-MENU *
********************/
// #mobile-body-overly styles has been moved to body.mobile-menu-box-active:before

#mobile-menu-box-toggle {
    z-index: 999;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
	cursor: pointer;
	@media screen and (max-width: $tableMinWidth) {
		display: block;
		padding: 0;
		margin: 0;
		padding: 12px 6px 12px 0;
	}
	span.hamburger {
		background: $mainBackgroundColor;
		display: block;
		height: 2px;
		width: 26px;
		position: relative;
		transition: background .2s ease-out;
		&:before, &:after {
			background: $mainBackgroundColor;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: all .2s ease-out;
			width: 100%;
		}
		&:before {
			top: 6px;
			width: 22px;
			transition: all .2s ease-out;
		}
		&:after {
			top: -6px;
			width: 30px;
			transition: all .4s ease-out;
		}
	}
	span.hamburger-checked {
		background: transparent;
		display: block;
		height: 2px;
		width: 26px;
		position: relative;
		transition: background .2s ease-out;
		&:before {
			transform: rotate(-45deg);
			background: $mainBackgroundColor;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: all .2s ease-out;
			width: 100%;
		}
		&:after {
			transform: rotate(45deg);
			background: $mainBackgroundColor;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: all .2s ease-out;
			width: 100%;
		}
		&:before, &:after {
			top: 0;
		}
	}
}

/********************
*   TITLE STYLES    *
********************/

.title-size1, a.title-size1 {
	font-size: 56px;
	line-height: 56px;
	font-family: $LHFAmericanSans;
	@media screen and (max-width: $tableWidth) {
		font-size: 40px;
		line-height: 40px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 30px;
		line-height: 30px;
	}
}
.title-size2, a.title-size2 {
	font-size: 40px;
	line-height: 40px;
	font-family: $LHFAmericanSans;
	@media screen and (max-width: $tableWidth) {
		font-size: 30px;
		line-height: 30px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 25px;
		line-height: 25px;
	}
}
.title-size3, a.title-size3 {
	letter-spacing: 1px;
	font-size: 24px;
	line-height: 24px;
	font-family: $LHFAmericanSans;
	@media screen and (max-width: $tableWidth) {
		font-size: 22px;
		line-height: 22px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.8px;
	}
}
.title-additional {
	color: $grayColor;
	font-family: $LacaProSemiBold;
	font-size: 18px;
}
.description {
	font-size: 24px;
	line-height: 28.5px;
	@media screen and (max-width: $tableWidth) {
		font-size: 22px;
		line-height: 26px;
	}
	@media screen and (max-width: $phoneBigWidth) {
		font-size: 18px;
		line-height: 23px;
	}
	p {
		font-size: 24px;
		line-height: 28.5px;
		@media screen and (max-width: $tableWidth) {
			font-size: 22px;
			line-height: 26px;
		}
		@media screen and (max-width: $phoneBigWidth) {
			font-size: 17px;
			line-height: 23px;
		}
	}
}

/*******************
*   ERROR-MESSAGES  *
********************/

.errors {
	border-radius: 4px;
	padding: 9px 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 32.5px;
	.error-block-close svg:hover path {
		fill: $greenColor;
	}
	.error-block-close {
		margin-left: 10px;
	}
	.error-block {
		display: flex;
		a {
			font-family: $FilsonProRegular;
			&:hover, &:focus, &:active {
				font-size: 16px;
				line-height: 22px;
				font-family: $FilsonProRegular;
			}
		}
		.error-block-text {
			color: $textBlackColor;
			font-size: 16px;
			margin-left: 10px;
			margin-top: 2px;
			line-height: 22px;
			ul.error-block-ul {
				text-align: left;
				li {
					font-size: 16px;
					line-height: 22px;
					a {
						font-size: 16px;
						line-height: 22px;
						font-family: $FilsonProRegular;
						&:hover, &:focus, &:active {
							font-size: 16px;
							line-height: 22px;
							font-family: $FilsonProRegular;
						}
					}
				}
			}
		}
	}
	svg {
		vertical-align: middle;
	}
	&.error-warning {
		background-color: #FFE9E9;
	}
	&.error-success {
		background-color: #F7FFE9;
	}
	&.error-mistake {
		background-color: #FFF8E9;
	}
	&.error-info {
		background-color: #E9F8FF;
	}
}

/******************************************************************************************/
/********************
*   BOOTSTRAP CHECKBOXES   *
********************/
.custom-control-input {
	+ label {
		color: $textBlackColor;
		font-family: $FilsonProRegular;
		font-size: 18px;
		letter-spacing: 0.6px;
		line-height: 18px;
		margin-bottom: 16px;
		user-select: none;

		&:before, &:after {
			top: 0;
		}
	}
	&:checked~.custom-control-label::before {
		background-color: $greenColor;
		border-color: $greenColor;
	}
	&:not(:disabled):active~.custom-control-label::before {
		background-color: #a7f7f1;
		border-color: #a7f7f1;
	}
	&:focus~.custom-control-label::before {
		box-shadow: 0 0 0 0.2rem rgba(0, 156, 144, 0.36);
	}
}

/********************
*   WIZARD STYLES   *
********************/
.vue-form-wizard {
	width: 100%;

	&.wizard-new-meal {
		.wizard-header {
			display: none;
		}
		&.is-last-step {
			.wizard-navigation, .wizard-card-footer {
				width: 100%;
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}

	.wizard-navigation, .wizard-card-footer {
		width: 560px;
		margin-left: auto;
		margin-right: auto;
		@media screen and (max-width: $tableMinWidth) {
			width: 100%;
		}
	}

	.wizard-navigation {
		margin-bottom: 20px;

		.wizard-nav, .wizard-progress-with-circle {
			display: none;
		}

		.wizard-tab-content {
			padding-top: 0;
			.form-group {
				margin-bottom: 48px;
			}
			.form-group legend, .form-label-text {
				color: $textBlackColor;
				font-family: $FilsonProBold;
				font-size: 18px;
				letter-spacing: 0.6px;
				line-height: 18px;
				margin-bottom: 10px;
			}
			textarea {
				min-height: 255px;
			}
			.meal-time-container-controls {
				.b-form-btn-label-control.form-control {
					min-height: 65px !important;
					border-radius: 0 !important;

					> .form-control {
						padding: 20px 45px 0 25px;
					}
					> .btn {
						position: absolute;
						right: 0;
						top: 14px;
					}

					@media screen and (max-width: $tableMinWidth) {
						min-height: 48px !important;

						> .form-control {
							padding-top: 12px;
						}
						> .btn {
							top: 7px;
						}
					}
				}
			}
		}
	}
	.wizard-card-footer {
		min-height: 96px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.clearfix:after {
			content: none;
		}

		.wizard-btn {
			width: 96px;
			height: 96px;
			border-radius: 96px;
			padding: 0;
			display: flex;
			min-width: 96px;
			justify-content: center;
			align-items: center;
			border: none;

			.wizard-btn-text {
				font-family: $LacaProSemiBold;
			}
			.wizard-btn-icon {
				font-size: 16px !important;
			}

			&.wizard-btn-next {
				background-color: $greenColor;
				flex-direction: column;

				.wizard-btn-text, .wizard-btn-icon {
					color: $mainBackgroundColor;
				}
				.wizard-btn-text {
					font-size: 24px;
					letter-spacing: 0.8px;
					line-height: 28px;
					margin-bottom: 2px;
				}
			}
			&.wizard-btn-prev {
				background-color: transparent !important;

				.wizard-btn-text, .wizard-btn-icon {
					color: $greenColor;
				}
				.wizard-btn-text {
					padding-left: 9px;
					font-size: 18px;
					letter-spacing: 0.6px;
					line-height: 24px;
				}
			}
		}

		.wizard-footer-step-info {
			color: $grayColor;
			font-family: $FilsonProBold;
			font-size: 18px;
			letter-spacing: 0.6px;
			line-height: 18px;
		}
	}
}

/********************
*   DROPZONE STYLES   *
********************/
.vue-dropzone {
	position: relative;
	border: 3px dashed $grayColor !important;
	height: 303px !important;

	@media screen and (max-width: $tableMinWidth) {
		height: 224px !important;
	}
}
.dropzone {
	background: transparent !important;

	.dz-message {
		color: $grayColor !important;
	}
}

/********************
*   GOOGLE PLACES STYLES   *
********************/
.pac-container {
	z-index: 10000 !important;
}

/********************
*   BOOTSTRAP-VUE TIME/DATE PICKER  *
*********************/
.dropdown-menu {
	&.override-datepicker-dropdown, &.override-timepicker-dropdown {
		border-radius: 0;

		& + label.form-control {
			font-family: $FilsonProRegular;
			margin-bottom: 0;
			line-height: 26px;
		}
	}
	&.override-datepicker-dropdown {
		.b-calendar .b-calendar-grid, .b-calendar-nav > .btn, .b-calendar-footer .btn {
			border-radius: 0;
		}
		.form-control {
			&:focus {
				border-color: $greenColor;
			}
		}
		.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active,
		.show > .btn-primary.dropdown-toggle {
			background-color: $greenColor;
			border-color: $greenColor;
		}
		.btn-outline-primary {
			color: $greenColor;

			&.focus, &:focus {
				box-shadow: 0 0 0 0.2rem rgba(0, 156, 144, 0.25);
			}

			&:hover {
				color: #fff;
				background-color: $greenColor;
				border-color: $greenColor;
			}
		}
		.btn-primary.focus, .btn-primary:focus {
			background-color: $greenColor;
			border-color: $greenColor;
			box-shadow: 0 0 0 0.2rem rgba(0, 156, 144, 0.25);
		}
		.btn-primary:hover {
			background-color: $greenColor;
			border-color: $greenColor;
		}
	}
	&.override-timepicker-dropdown {
		.b-form-spinbutton {
			border-radius: 0;
		}
		.form-control {
			&.focus {
				border-color: rgba(0, 156, 144, 0.25);
				box-shadow: 0 0 0 0.2rem rgba(0, 156, 144, 0.25);
			}
		}
	}
}

/********************
*   GOOGLE MAPS  *
*********************/
// hide bottom right info
.gm-style-cc {
	display: none;
}
.map-container {
	.marker-label-wrapper {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: #FFFFFF;

		.marker-label-container {
			width: 100%;
			height: 100%;
			position: relative;

			.marker-label-line {
				width: 1px;
				height: 24px;
				background-color: rgba(24, 24, 22, 0.5);
				transform: rotate(45deg);
				position: absolute;
				top: 9px;
				left: 21px;
			}
			.marker-label-text-wrapper {
				width: 100%;
				height: 100%;
				position: relative;
				color: $textBlackColor;

				.marker-label-available-num {
					position: absolute;
					font-family: $FilsonProBold;
					font-size: 18px;
					letter-spacing: 0.6px;
					line-height: 18px;
					left: 9px;
					top: 6px;

					&.num-of-symbols_2 {
						font-size: 15px;
						left: 5px;
						top: 5px;
					}
					&.num-of-symbols_3 {
						font-size: 13px;
						transform: rotate(-45deg);
						left: 4px;
						letter-spacing: -0.5px;
						top: 8px;
					}
					&.num-of-symbols_4, &.num-of-symbols_5 {
						transform: rotate(-45deg);
						letter-spacing: -0.5px;
						left: 4px;
						top: 8px;
					}
					&.num-of-symbols_4 {
						font-size: 11px;
					}
					&.num-of-symbols_5 {
						font-size: 9px;
					}
				}
				.marker-label-total-num {
					position: absolute;
					font-family: $FilsonProRegular;
					font-size: 11px;
					letter-spacing: 0.37px;
					line-height: 11px;
					bottom: 6px;
					right: 8px;

					&.num-of-symbols_2 {
						right: 4px;
						bottom: 4px;
						font-size: 10px;
					}
					&.num-of-symbols_3 {
						letter-spacing: -0.5px;
						font-size: 9px;
						transform: rotate(-45deg);
						right: 3px;
					}
					&.num-of-symbols_4, &.num-of-symbols_5 {
						transform: rotate(-45deg);
						letter-spacing: -0.5px;
						right: 1px;
						bottom: 5px;
					}
					&.num-of-symbols_4 {
						font-size: 8px;
					}
					&.num-of-symbols_5 {
						font-size: 7px;
					}
				}
			}
		}
	}
}

// info window close button
.gm-style-iw-d + button {
	width: 30px !important;
	height: 30px !important;
	top: 9px !important;
	right: 7px !important;

	> img {
		margin: 0 0 0 3px !important;
		width: 22px !important;
		height: 22px !important;
		opacity: 0.7 !important;
		padding: 0 !important;
	}
}

// info window
.gm-style-iw {
	background-color: #FFFFFF !important;
	border-radius: 0 !important;
	padding: 10px 20px 10px 10px !important;
}

/********************
*   GLOBAL SEARCH - DATE PICKER INPUT FIELD  *
*********************/
.search-filters-wrapper {
	.date-field-group {
		.b-form-btn-label-control {
			&.form-control {
				> .form-control {
					padding: 12px 35px 0 15px;
				}
				> .btn {
					position: absolute;
					right: 0;
					top: 7px;
				}
			}
		}
	}
}
